:root {
    --orange-color: #FF6A09;
    --purple-color: #A979F8;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: white;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    
    background-image: url("../assets/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

a:link, a:visited {
    text-decoration: none;
    color: inherit;
}

#nav-hero {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    color: black;
    background-color: var(--orange-color);
    
    padding: 3vh 0;
    font-size: 1.1rem;

    flex: 0 1 auto;
}

nav > a {
    color: black;
    margin: 0 2vw;
}

nav > a:last-child {
    margin-right: 10vw;
}

main {
    flex: 1 1 auto;
    margin: 0 7vw;
    margin-bottom: 10vh;
}

section {
    margin-bottom: 10vh;    
}

#home {
    flex: 1 1 auto;

    display: grid;
    grid-template-rows: 0.6fr min-content;
    grid-template-columns: 1fr 1fr;

    margin: 10vh 10vw 0;
}

#titles {
    grid-row: 1;
    grid-column: 2;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    line-height: 3rem;
}

#register {
    grid-row: 2;
    grid-column: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

#register > button {
    padding: 2vh 3vw;
    font-size: 1.4rem;
}

#about-blurb {
    grid-row: 2;
    grid-column: 2;

    margin: 3vh 4vw;
    padding: 3vh 4vw;

    font-size: 1.3rem;
    line-height: 2rem;
}

footer {
    padding: 1vh 1vw;
    color: black;
    text-align: center;
    flex: 0 1 auto;
    background-color: var(--orange-color);
}

.tile {
    background-color: black;
    border: 3px solid white;
    border-radius: 30px;
    color: white;
    text-align: center;
}

@font-face {
    font-family: grooving;
    src: url("../assets/Grooving.otf");
}

.title {
    font-size: 5rem;
    color: var(--purple-color);
    font-family: grooving;
    text-align: center;
}

.subtitle {
    font-size: 3rem;
    color: var(--orange-color);
    font-family: grooving;
    text-align: center;
}

.large {
    font-size: 3rem;
    color: white;
    font-family: grooving;
}

#activities-container {
    padding: 3vh 3vw;
    line-height: 2rem;
}

#activities-header {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 5vh;
}

#activities {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
}

#activities > div {
    flex: 1 1 0;
}

.activity {
    padding: 0 3vw;
}

#schedule-container {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    padding-bottom: 10vh;
    line-height: 2rem;
}

.day {
    min-width: 20vw;
    min-height: 45vh;
    margin-right: 3vw;
}

.schedule-tile {
    height: 100%;
}

#questions {
    padding: 3vh 3vw;
    text-align: left;
    max-height: 75vh;
    overflow-y: scroll;
    line-height: 2rem;
}

#questions > div:not(:last-child) {
    margin-bottom: 5vh;
    
}

.question {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1vh;
}